<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
<!--JQUERY -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link href="./style/estilo.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./js/funcionesEstructura.js"></script>

<!-- SELECT2 -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<!-- SWEET ALERT-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>

<!--INSTASCAN -->
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

<!--FULLCALENDAR -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale/es.js"></script>

<div>
<div class="header">
</div>
<div class="body">
<div id='calendar'></div>


</div>
</div>

<script>

  $(document).ready(function() {
      var altura = $(window).height()-200;
  
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
      height: altura,
      header: {
          left: 'prev,next today',
          center: 'title,addEventButton',
          right: 'month,agendaDay,listWeek'
      },
          editable: true,  
          navLinks: true,
      eventLimit: true, 
          buttonIcons: {next: 'right-single-arrow', prevYear: 'left-double-arrow', nextYear: 'right-double-arrow'},
          eventRender: function(event, element){
            element.popover({
              placement: 'top',
                animation:true,
                delay: 300,
                html:true,
                title:event.title+"",
                content:'Start: ' + event.start+ '<br>End: ' + 'aaaaaaa' + '<br>Description: ' + 'eeeeeeeeee',
                
                trigger: 'hover'
            });
          },
          customButtons: {
      addEventButton: {
        text: 'CREAR CITA',
        click: function () {
          var dateStr = prompt('Enter date in YYYY-MM-DD format');
          var date = moment(dateStr);
  
          if (date.isValid()) {
            $('#calendar').fullCalendar('renderEvent', {
              title: 'Cita de Roberto',
              start: date,
              allDay: true,
            });
          } else {
            alert('Invalid Date');
          }
  
        }
      }
    },
    dayClick: function (date, jsEvent, view) {
      var date = moment(date);
  
      if (date.isValid()) {
        $('#calendar').fullCalendar('renderEvent', {
          title: 'Dynamic event from date click',
          start: date,
          allDay: true,
        });
      } else {
        alert('Invalid');
      }
    },
  
    });
    
  });
      </script>