.container{
    display:flex;
    margin: 0px;
    padding: 0px;
    min-width: 100%;
}
.buttonCerrarVent2,.buttonCerrarVent1, .buttonCerrar{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
/* MENU */
#menu{
    overflow-y: auto;
    background-color:#83B2D9;
}
#menu::-webkit-scrollbar {
    display: none;
}
#menu ul li h5{
  margin:0px;
}
#menu ul li a{
    display: inline-block;
    width: 100%;
    padding: 8px 5px 8px;
    text-decoration: none;
    color: black;

}
#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li{
    padding:0px 10px 0px;
    margin: 25px 0px 25px;
}
#menu ul li:hover{
    background-color: #7FD3E1;
    -webkit-transform: scale(1.05);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 30px -10px #000;
}
#ventana2,#ventana1,#ventana3{
    z-index:999 !important;
}
#calendar{
    z-index: 1;
}
.datosPequenos{
    width:40px;
}
.datosMedianos{
    width: 70px;
}
.form-group{
    margin-bottom:20px;
}


.show{
    float: right;
}
.hide{
    display: none;
}
/*  CONTENIDO VENTANAS*/

table tbody { display:block;  overflow-y:scroll; }
table thead, table tbody tr { display:table; width:100%; table-layout:fixed; }
tbody::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
tbody {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.fc-list-item-time{
    width:30px !important;
}
.fc-list-item-marker  {
    width:30px !important;

}
th,td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:hidden;
  }
#carga{
    position: absolute;
    top:10%;
    right:10%;
}

/*
#listado{
    text-align:center;
    background-color:white;
    overflow-y: scroll;
}
#listado::-webkit-scrollbar {
    display: none;
}

Hide scrollbar for IE, Edge and Firefox 
#listado {
  -ms-overflow-style: none;   IE and Edge 
  scrollbar-width: none;  Firefox 
}
table{
            height: auto;
        }
        */
#ventana1{
    background-color:white;
    width:70em;
    height:40em;
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow:  0px 0px 5px 1px  grey;
    overflow-y: scroll;
}
#ventana2{
    background-color:white ; 
    min-width:450px;
    min-height:350px;
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow:  0px 0px 5px 1px  grey;
    overflow-y: scroll;
}
#ventana3{
    background-color:white ; 
    position: absolute;
    min-width:450px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow:  0px 0px 5px 1px  grey;
    overflow-y: scroll;
}
#ventana1::-webkit-scrollbar,#ventana2::-webkit-scrollbar,#ventana3::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#ventana2,#ventana1,#ventana3{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/*
.inputTamano{
    max-width: 200px;
    max-height: 30px;
}
*/
.header{
    position: sticky;
    margin-bottom: 80px;
    top:0px;
    z-index: 999 !important;
    background-color: white;
}
.body{
    margin-right: 20px;
    margin-left: 20px;
}