ion-content {
  --background: url(../../assets/fondo.jpg) no-repeat top center/cover fixed,
    #fff;
  background-size: contain;
  position: relative;
  height: 100%;
  width: 100%;
}

ion-toolbar {
  --background: #3880ff;
}

.icono {
  color: white;
}

#qr {
  //margin-left: 30px;
}
.my-custom-class .popover-content {
  background: #222;
}
.card {
  margin: 0 auto;

  .header {
    height: 100px;

    .avatar {
      width: 160px;
      height: 160px;
      position: relative;
      margin: 0 auto;

      img {
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        bottom: calc(-1 * (80px + 4px));
        border: 8px solid #3880ff;
        background-color: #fff;
      }
    }
  }
}

.card-body {
  background-color: #ffffff;
  padding: 30px;
  overflow: hidden;

  .user-meta {
    padding-top: 40px;

    .nombre {
      font-size: 24px;
      font-weight: 600;
      color: #303940;
    }

    .datos {
      font-size: 100%;
      text-transform: uppercase;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      font-weight: bold;
      color: #949ea6;
    }

    .label {
      color: #949ea6;
    }
  }
}
#qr {
  min-width: 300px;
  max-width: 300px;
  padding-right: 3.5rem;
}

.col {
  border: solid 1px black;
}

.col-title-fichaje {
  border: solid 1px black;
  background-color: #3880ff;
  color: #fff;
}

.col-title-fichaje:first-child {
  border-top-left-radius: 5px;
}

.col-title-fichaje:last-child {
  border-top-right-radius: 5px;
}

.col-title-citas {
  border: solid 1px black;
  background-color: #3880ff;
  color: #fff;
}

.col-title-citas:first-child {
  border-top-left-radius: 5px;
}

.col-title-citas:last-child {
  border-top-right-radius: 5px;
}
