<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="presentPopover($event)">
        <ion-icon
          slot="icon-only"
          name="ellipsis-vertical-outline"
          class="icono"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">
  <ion-router-outlet id="main"></ion-router-outlet>

  <div class="ion-padding"></div>

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img src="assets/usuario.png" style="margin-top: 20px" />
      </div>
    </div>

    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h5 class="datos">{{body.items[0].rol}}</h5>

        <h3 class="nombre">
          {{body.items[0].nombre}} {{body.items[0].apellido}}
        </h3>

        <h4 class="datos">{{body.items[0].email}}</h4>
        <h4 class="datos">{{body.items[0].telefono}}</h4>
        <h4 class="datos">{{body.items[0].DNI}}</h4>
      </div>

      <div class="prueba">
        <ion-button
          expand="block"
          *ngIf="body.items[0].rol != 'Cliente' "
          (click)="process()"
          >GENERAR QR</ion-button
        >

        <div
          id="a"
          hidden="true"
          style="display: flex; justify-content: center"
        >
          <img id="qr" *ngIf="ocultar" [src]="generated" />
        </div>
      </div>

      <ion-button
        *ngIf="body.items[0].rol != 'Cliente' "
        (click)="hidefichaje()"
        expand="block"
        >FICHAJES</ion-button
      >

      <ion-grid id="fichajes_tabla" hidden="true">
        <ion-row>
          <ion-col class="col-title-fichaje">DÍA</ion-col>
          <ion-col class="col-title-fichaje">HORA</ion-col>
        </ion-row>
        <ion-row *ngFor="let fichajes of fichaje | slice:0:13;">
          <ion-col class="col">{{fichajes.dia}}</ion-col>
          <ion-col class="col">{{fichajes.hora}}</ion-col>
        </ion-row>
      </ion-grid>

      <div class="prueba">
        <ion-button (click)="hidecita()" expand="block">CITAS</ion-button>

        <ion-grid id="citas_tabla" hidden="true">
          <ion-row>
            <ion-col class="col-title-citas">DÍA</ion-col>
            <ion-col class="col-title-citas">HORA</ion-col>
          </ion-row>
          <ion-row *ngFor="let citas of cita | slice:0:13;">
            <ion-col class="col">{{citas.dia}}</ion-col>
            <ion-col class="col">{{citas.hora}}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
