<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CUS</ion-title>
  </ion-toolbar>
  
</ion-header>
 
<ion-content >
  <div class="logo">
    <img src="assets/logo.svg">
  </div>
    <form> 
      <div class="input-group">
        <ion-item>
          <ion-input type="text" placeholder="DNI"  name="dni" [(ngModel)]="dni" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" name="password" [(ngModel)]="password"></ion-input>
          <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item> 
      </div>
      <ion-button type="submit" expand="block" (click)="log()">Iniciar sesión</ion-button> 


    </form> 
  
</ion-content>