.contenedor{
    padding: 50px;
}

.progress{
    margin-top: 25px;
}

#texto{
  visibility: hidden;
}

footer {
  background-color: #201d1d;
  margin-top: 20px;
}

footer > * {
  color: white;
  text-align: center;
}

footer ul .facebook, .twitter, .youtube {
  text-align: center;
  width: 50px;
}
a > img {
  height: 30px;
  width: 30px;
}

#envia{
  margin-left: 600px;
  margin-top: 30px;
}


ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media only screen and (max-width: 600px) {
    body {
      margin-top: 60px;
    }

    #envia{
      margin-left: 170px;
    }

    #cart{
      margin-top: 20px;
    }
   
  }