
ion-content {
    --padding-top: 20%;
    --padding-start: 10%;
    --padding-end: 10%;
}
 
.input-group {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
 
.logo{
   width: 75%;
   margin-left: 35px;
}