<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CUS</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
 
<ion-content >
  <div class="logo">
    <img src="assets/logo.svg">
  </div>
    <form> 
      
      <div class="titulo">
        <h5>CONTRASEÑA ACTUAL</h5>
      </div>
        <ion-item>
          <ion-input type="password" placeholder="Contraseña actual" name="password" [(ngModel)]="password"></ion-input>
          <ion-icon slot="end"></ion-icon>
        </ion-item>
      <div class="input-group">
        <div class="titulo">
          <h5>NUEVA CONTRASEÑA</h5>
        </div>
        <ion-item>
          <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Nueva contraseña" name="password" [(ngModel)]="newpassword"></ion-input>
          <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item> 
        <ion-item>
          <ion-input type="password" placeholder="Confirma" name="password" [(ngModel)]="confirma"></ion-input>
          <ion-icon slot="end"  (click)="togglePassword()"></ion-icon>
        </ion-item> 
      </div>
      <ion-button type="submit" expand="block" (click)="changePassword()">Cambiar</ion-button> 


    </form> 
  
</ion-content>